#searchbar {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form {
  height: 96px;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;

  span {
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 15px;
      background-color: #fff;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 15px;
      background-color: #fff;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all;
    }
  }
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;

  &::placeholder {
    color: #e16868;
  }
}

#s-cover {
  width: 1px;
  padding-left: 35px;

  &:hover {
    #s-circle {
      top: -1px;
      width: 67px;
      height: 15px;
      border-width: 0;
      background-color: #fff;
      border-radius: 20px;
    }

    span {
      top: 50%;
      left: 56px;
      width: 25px;
      margin-top: -9px;
      transform: rotateZ(0);
    }

    button {
      span {
        &:before {
          bottom: 11px;
          transform: rotateZ(52deg);
          right: -6px;
          width: 40px;
          background-color: #fff;
        }

        &:after {
          bottom: -11px;
          transform: rotateZ(-52deg);
          right: -6px;
          width: 40px;
          background-color: #fff;
        }
      }
    }
  }
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

